body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
}


a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 15%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight;
  font-family: $header-font-family;
  margin: 8px 0 4px 0;
}

h1 {
  color: #d90429;
  @include relative-font-size(2.2);
}

h2 {
  color: #ef233c;
  @include relative-font-size(1.8);
}

h3 {
  @include relative-font-size(1.5);
}

h4 {
  @include relative-font-size(1.3);
}

pre.highlight {
  margin: 16px 0;
  border-radius: 4px;
  padding: 8px;
}
