<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <section class="sidebar">
      <div class="header">
        {% include header.html %}
      </div>

      <nav class="nav">
        {% include nav.html %}
      </nav>

      <div class="footer">
        Copyright Scott Bailey, 
        {{ 'now' | date: "%Y" }}
      </div>
    </section>

    <section class="content">
      {{ content }}
    </section>
  </body>
</html>
